<ion-view view-title="People List">
  <ion-content>

    <div class="container">
      <div ng-name="people">
            <div class="table-container">
              <table class="table table-hover">
                <tr class="info"><br>
                  <th>#</th>
                  <th>Name</th> <th>Species</th>
                </tr>
                <tr class="" ng-repeat="person in people">
                  <td>{{ $index + 1 }}</td>
                  <td>{{person.name}}</td>
                  <td>{{person.species}}</td>
                </tr>
              </table>
          </div>

          <!-- <table class="table table-striped">
            <thead>
              <tr >
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
            </tbody>
          </table> -->
          <div class="btn-group">
            <button type="button" class="btn btn-default">Previus</button>
            <button type="button" class="btn btn-default">Next</button>
          </div>
      </div>
  </div>

  </ion-content>
</ion-view>
